In [25]:
import pandas as pd
import econtools.metrics as mt
import econtools
import numpy as np

In [33]:
df = pd.read_csv("H_target_final.csv")

In [35]:
truc = df["is_reform"].dropna()

In [37]:
truc

76     True
119    True
192    True
194    True
219    True
284    True
286    True
319    True
330    True
350    True
397    True
412    True
Name: is_reform, dtype: object

In [38]:
#Transform Nan into 0 and True into 1
df["is_reform"] = df["is_reform"].fillna(0)
df["is_reform"] = df["is_reform"].apply(lambda x : int(x))

In [41]:
bla = df[df["is_reform"] == 1]

In [42]:
bla

,countrycode,closing_date,ebitda,r_d_expenses_operating_revenue,research_development_expenses,number_of_employees,Deal value\r\nm EUR,Acquired stake (%)_0_10,Acquired stake (%)_10_20,Acquired stake (%)_20_30,...,Final stake (%)_0_10,Final stake (%)_10_20,Final stake (%)_20_30,Final stake (%)_30_40,Final stake (%)_40_50,Final stake (%)_0_25,Final stake (%)_25_50,Score-protecting minority investors,Reform,is_reform
76,CN,2019,1.063913e+11,162.798489,1.468652e+10,3411740.0,3369.05,62,4,5,...,17,14,16,16,8,35,36,62.000000,China strengthened minority investor protectio...,1
119,ES,2016,1.825363e+10,-3.160802,2.274470e+08,154080.0,0.00,0,0,0,...,0,0,0,0,0,0,0,70.000000,Spain strengthened minority investor protectio...,1
192,ID,2008,1.462133e+08,-2.818491,0.000000e+00,11524.0,0.00,0,0,0,...,0,0,0,0,0,0,0,56.666667,Indonesia strengthened investor protections by...,1
194,ID,2010,4.143805e+08,-3.053365,0.000000e+00,11617.0,1.38,1,0,0,...,0,1,0,0,0,1,0,60.000000,Indonesia strengthened investor protections by...,1
219,IN,2015,4.016673e+09,-18.791248,2.086123e+08,162680.0,92.47,10,2,1,...,2,4,1,3,2,7,5,76.000000,India strengthened minority investor protectio...,1
284,KR,2013,1.309902e+10,93.467944,4.292691e+09,185894.0,495.30,19,3,2,...,5,3,3,4,3,10,8,66.666667,Korea strengthened investor protections by mak...,1
286,KR,2015,1.596403e+10,88.479143,5.002003e+09,231492.0,3770.99,14,3,2,...,4,4,3,5,3,9,10,74.000000,The Republic of Korea strengthened minority in...,1
319,MY,2018,-3.292464e+06,-0.234874,0.000000e+00,0.0,0.00,0,0,0,...,0,0,0,0,0,0,0,88.000000,Malaysia strengthened minority investor protec...,1
330,NL,2013,2.335100e+07,-0.773344,1.300000e+07,2099.0,0.00,0,0,0,...,0,0,0,0,0,0,0,46.666667,The Netherlands strengthened investor protecti...,1
350,NO,2008,1.166176e+09,-4.651353,2.536755e+07,49493.0,16.47,2,1,0,...,2,1,0,0,0,3,0,63.333333,Norway strengthened investor protections throu...,1
397,RU,2017,3.545414e+10,-24.591468,2.671048e+08,880107.0,525.83,7,1,0,...,3,2,0,0,0,5,0,58.000000,The Russian Federation strengthened minority i...,1
412,SE,2011,2.787314e+09,-4.512957,1.155493e+07,76901.0,10.71,3,0,0,...,3,0,0,0,0,3,0,63.333333,Sweden strengthened investor protections by re...,1

In [6]:
# pour acquisition 0-50, moyenne de r_d_expenses_operating_revenue 
# année en cours + 2 années après. 
# Si pas possible, moyenne sur l'année en cours et l'année suivante, ou valeur de l'anée

df.sort_values(by= ['countrycode', 'closing_date'], inplace = True)
df['avg_r_d_expenses_operating_revenue'] = 0
for i in range(df.shape[0]-2) : 
    country = df['countrycode'][i]
    country_N_1 = df['countrycode'][i+1]
    country_N_2 = df['countrycode'][i+2]
    if (country == country_N_1) and (country == country_N_2):
        sum = df['r_d_expenses_operating_revenue'][i] + df['r_d_expenses_operating_revenue'][i+1] +  df['r_d_expenses_operating_revenue'][i+2]
        df['avg_r_d_expenses_operating_revenue'][i] = sum / 3
    if (country == country_N_1) and (country != country_N_2):
        sum = df['r_d_expenses_operating_revenue'][i] + df['r_d_expenses_operating_revenue'][i+1]
        df['avg_r_d_expenses_operating_revenue'][i] = sum / 2
    else : 
        df['avg_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

# pour acquisition 0-50, difference r_d_expenses_operating_revenue un an apres - année en cours
df['diff_r_d_expenses_operating_revenue'] = 0
for i in range(df.shape[0]-1) : 
    country = df['countrycode'][i]
    country_N1 = df['countrycode'][i+1]
    if country == country_N1 :
        df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i+1] - df['r_d_expenses_operating_revenue'][i]
    else : 
        df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/3404922727.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_expenses_operating_revenue'][i] = sum / 3
C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/3404922727.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]
C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/3404922727.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_expenses_operating_revenue'][i] = sum / 2
C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/3404922727.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i+1] - df['r_d_expenses_operating_revenue'][i]
C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/3404922727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

**IV = score and Y = diff**

In [126]:
# 0-10
Y = 'diff_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_0_10']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_10'])
print(F1,pF1)
results.summary

0.08520328757949094 0.7733723671214396

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_10,71.384078,244.553104,0.291896,0.773372,-438.744757,581.512913

In [127]:
# 10-20
Y = 'diff_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_10_20']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_10_20'])
print(F1,pF1)
results.summary

0.004376968230891643 0.9479083876145946

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_10_20,-3338.884986,50467.845167,-0.066159,0.947908,-108612.965267,101935.195296

In [129]:
# 20-30
Y = 'diff_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_20_30']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_20_30'])
print(F1,pF1)
results.summary

0.35334654034106755 0.5588899750891643

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_20_30,-308.946767,519.736518,-0.59443,0.55889,-1393.098145,775.204612

In [130]:
# 30-40
Y = 'diff_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_30_40']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_30_40'])
print(F1,pF1)
results.summary

0.4408007902021151 0.5143178948569491

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_30_40,658.775273,992.238576,0.663928,0.514318,-1410.998127,2728.548672

In [26]:
# 40-50
Y = 'diff_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_40_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_40_50'])
print(F1,pF1)
results.summary

0.000347598809564024 0.9853098456612273

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_40_50,31943.496448,1.713339e+06,0.018644,0.98531,-3.542019e+06,3.605906e+06

**IV = score and Y = mean**

In [134]:
# 0-10
Y = 'avg_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_0_10']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_10'])
print(F1,pF1)
results.summary

0.0948262865060471 0.7613129887900916

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_10,101.280774,328.899064,0.307939,0.761313,-584.790653,787.3522

In [135]:
# 10-20
Y = 'avg_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_10_20']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_10_20'])
print(F1,pF1)
results.summary

0.00425767458150225 0.9486220945304171

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_10_20,-4737.258832,72600.712312,-0.065251,0.948622,-156179.690961,146705.173297

In [136]:
# 20-30
Y = 'avg_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_20_30']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_20_30'])
print(F1,pF1)
results.summary

0.29975931581104315 0.5900916399845715

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_20_30,-438.338189,800.613603,-0.547503,0.590092,-2108.3889,1231.712522

In [137]:
# 30-40
Y = 'avg_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_30_40']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_30_40'])
print(F1,pF1)
results.summary

0.44780159281701376 0.5110323795145161

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_30_40,934.679988,1396.754655,0.66918,0.511032,-1978.899166,3848.259143

In [138]:
# 40-50
Y = 'avg_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_40_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_40_50'])
print(F1,pF1)
results.summary

0.00034802469304629196 0.9853008502084246

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_40_50,45321.899772,2.429423e+06,0.018655,0.985301,-5.022365e+06,5.113009e+06

**Conclusion, les réformes sont trop lacunaires**

**Avec reaserach development brut**

**IV = score and Y = diff**

In [140]:
df.columns

Index(['countrycode', 'closing_date', 'ebitda',
       'r_d_expenses_operating_revenue', 'research_development_expenses',
       'number_of_employees', 'Deal value\r\nm EUR', 'Acquired stake (%)_0_10',
       'Acquired stake (%)_10_20', 'Acquired stake (%)_20_30',
       'Acquired stake (%)_30_40', 'Acquired stake (%)_40_50',
       'Acquired stake (%)_0_25', 'Acquired stake (%)_25_50',
       'Acquired stake (%)_0_50',
       'Total deal value for Acquired stake (%)0_10',
       'Total deal value for Acquired stake (%)_10_20',
       'Total deal value for Acquired stake (%)_20_30',
       'Total deal value for Acquired stake (%)_30_40',
       'Total deal value for Acquired stake (%)_40_50',
       'Total deal value for Acquired stake (%)_0_25',
       'Total deal value for Acquired stake (%)_25_50',
       'Total deal value for Acquired stake (%)_0_50', 'Final stake (%)_0_10',
       'Final stake (%)_10_20', 'Final stake (%)_20_30',
       'Final stake (%)_30_40', 'Final stake (%)_40_50',
       'Final stake (%)_0_25', 'Final stake (%)_25_50',
       'Score-protecting minority investors', 'Reform', 'is_reform',
       'avg_r_d_expenses_operating_revenue',
       'diff_r_d_expenses_operating_revenue'],
      dtype='object')

In [141]:
# 0-10
Y = 'research_development_expenses'
X = ['Acquired stake (%)_0_10']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_10'])
print(F1,pF1)
results.summary

0.08948116892877879 0.7679240319750927

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_10,1.078211e+09,3.604441e+09,0.299134,0.767924,-6.440522e+09,8.596944e+09

In [142]:
# 10-20
Y = 'research_development_expenses'
X = ['Acquired stake (%)_10_20']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_10_20'])
print(F1,pF1)
results.summary

0.004388738170153865 0.9478385032056598

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_10_20,-5.043173e+10,7.612618e+11,-0.066248,0.947839,-1.638396e+12,1.537533e+12

In [143]:
# 20-30
Y = 'research_development_expenses'
X = ['Acquired stake (%)_20_30']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_20_30'])
print(F1,pF1)
results.summary

0.35334260458932676 0.5588921455469087

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_20_30,-4.666444e+09,7.850333e+09,-0.594426,0.558892,-2.104195e+10,1.170906e+10

In [144]:
# 30-40
Y = 'research_development_expenses'
X = ['Acquired stake (%)_30_40']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_30_40'])
print(F1,pF1)
results.summary

0.3624941423101848 0.5538893610021596

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_30_40,9.950381e+09,1.652682e+10,0.602075,0.553889,-2.452395e+10,4.442472e+10

In [145]:
# 40-50
Y = 'research_development_expenses'
X = ['Acquired stake (%)_40_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_40_50'])
print(F1,pF1)
results.summary

0.0003466075540520988 0.9853308041965138

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_40_50,4.824862e+11,2.591587e+13,0.018617,0.985331,-5.357708e+13,5.454205e+13

**With mean and diff**

In [150]:
df.columns

Index(['countrycode', 'closing_date', 'ebitda',
       'r_d_expenses_operating_revenue', 'research_development_expenses',
       'number_of_employees', 'Deal value\r\nm EUR', 'Acquired stake (%)_0_10',
       'Acquired stake (%)_10_20', 'Acquired stake (%)_20_30',
       'Acquired stake (%)_30_40', 'Acquired stake (%)_40_50',
       'Acquired stake (%)_0_25', 'Acquired stake (%)_25_50',
       'Acquired stake (%)_0_50',
       'Total deal value for Acquired stake (%)0_10',
       'Total deal value for Acquired stake (%)_10_20',
       'Total deal value for Acquired stake (%)_20_30',
       'Total deal value for Acquired stake (%)_30_40',
       'Total deal value for Acquired stake (%)_40_50',
       'Total deal value for Acquired stake (%)_0_25',
       'Total deal value for Acquired stake (%)_25_50',
       'Total deal value for Acquired stake (%)_0_50', 'Final stake (%)_0_10',
       'Final stake (%)_10_20', 'Final stake (%)_20_30',
       'Final stake (%)_30_40', 'Final stake (%)_40_50',
       'Final stake (%)_0_25', 'Final stake (%)_25_50',
       'Score-protecting minority investors', 'Reform', 'is_reform',
       'avg_r_d_expenses_operating_revenue',
       'diff_r_d_expenses_operating_revenue'],
      dtype='object')

In [7]:
# pour acquisition 0-50, moyenne de r_d_research_dev 
# année en cours + 2 années après. 
# Si pas possible, moyenne sur l'année en cours et l'année suivante, ou valeur de l'anée
df.sort_values(by= ['countrycode', 'closing_date'], inplace = True)
df['avg_r_d_research_dev'] = 0
for i in range(df.shape[0]-2) : 
    country = df['countrycode'][i]
    country_N_1 = df['countrycode'][i+1]
    country_N_2 = df['countrycode'][i+2]
    if (country == country_N_1) and (country == country_N_2):
        sum = df['research_development_expenses'][i] + df['research_development_expenses'][i+1] +  df['research_development_expenses'][i+2]
        df['avg_r_d_research_dev'][i] = sum / 3
    if (country == country_N_1) and (country != country_N_2):
        sum = df['research_development_expenses'][i] + df['research_development_expenses'][i+1]
        df['avg_r_d_research_dev'][i] = sum / 2
    else : 
        df['avg_r_d_research_dev'][i] = df['research_development_expenses'][i]

# pour acquisition 0-50, difference r_d_research_dev un an apres - année en cours
df['diff_r_d_research_dev'] = 0
for i in range(df.shape[0]-1) : 
    country = df['countrycode'][i]
    country_N1 = df['countrycode'][i+1]
    if country == country_N1 :
        df['diff_r_d_research_dev'][i] = df['research_development_expenses'][i+1] - df['research_development_expenses'][i]
    else : 
        df['diff_r_d_research_dev'][i] = df['research_development_expenses'][i]

C:\Users\KP519\AppData\Local\Temp/ipykernel_19156/3935099857.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_research_dev'][i] = sum / 3
C:\Users\KP519\AppData\Local\Temp/ipykernel_19156/3935099857.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_research_dev'][i] = df['research_development_expenses'][i]
C:\Users\KP519\AppData\Local\Temp/ipykernel_19156/3935099857.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_research_dev'][i] = sum / 2
C:\Users\KP519\AppData\Local\Temp/ipykernel_19156/3935099857.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff_r_d_research_dev'][i] = df['research_development_expenses'][i+1] - df['research_development_expenses'][i]
C:\Users\KP519\AppData\Local\Temp/ipykernel_19156/3935099857.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff_r_d_research_dev'][i] = df['research_development_expenses'][i]

**With mean**

In [158]:
df.columns

Index(['countrycode', 'closing_date', 'ebitda',
       'r_d_expenses_operating_revenue', 'research_development_expenses',
       'number_of_employees', 'Deal value\r\nm EUR', 'Acquired stake (%)_0_10',
       'Acquired stake (%)_10_20', 'Acquired stake (%)_20_30',
       'Acquired stake (%)_30_40', 'Acquired stake (%)_40_50',
       'Acquired stake (%)_0_25', 'Acquired stake (%)_25_50',
       'Acquired stake (%)_0_50',
       'Total deal value for Acquired stake (%)0_10',
       'Total deal value for Acquired stake (%)_10_20',
       'Total deal value for Acquired stake (%)_20_30',
       'Total deal value for Acquired stake (%)_30_40',
       'Total deal value for Acquired stake (%)_40_50',
       'Total deal value for Acquired stake (%)_0_25',
       'Total deal value for Acquired stake (%)_25_50',
       'Total deal value for Acquired stake (%)_0_50', 'Final stake (%)_0_10',
       'Final stake (%)_10_20', 'Final stake (%)_20_30',
       'Final stake (%)_30_40', 'Final stake (%)_40_50',
       'Final stake (%)_0_25', 'Final stake (%)_25_50',
       'Score-protecting minority investors', 'Reform', 'is_reform',
       'avg_r_d_expenses_operating_revenue',
       'diff_r_d_expenses_operating_revenue', 'avg_r_d_research_dev',
       'diff_r_d_research_dev'],
      dtype='object')

In [159]:
# 0-10
Y = 'avg_r_d_research_dev'
X = ['Acquired stake (%)_0_10']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_10'])
print(F1,pF1)
results.summary

0.08800983053344863 0.7697815686178051

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_10,1.172236e+09,3.951386e+09,0.296665,0.769782,-7.070212e+09,9.414684e+09

In [160]:
# 10-20
Y = 'avg_r_d_research_dev'
X = ['Acquired stake (%)_10_20']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_10_20'])
print(F1,pF1)
results.summary

0.0043946630626604775 0.9478033595804273

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_10_20,-5.482962e+10,8.270893e+11,-0.066292,0.947803,-1.780108e+12,1.670448e+12

In [161]:
# 20-30
Y = 'avg_r_d_research_dev'
X = ['Acquired stake (%)_20_30']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_20_30'])
print(F1,pF1)
results.summary

0.3609676494815377 0.5547177734076236

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_20_30,-5.073380e+09,8.444292e+09,-0.600806,0.554718,-2.268787e+10,1.254111e+10

In [162]:
# 30-40
Y = 'avg_r_d_research_dev'
X = ['Acquired stake (%)_30_40']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_30_40'])
print(F1,pF1)
results.summary

0.36250031107652225 0.5538860181384557

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_30_40,1.081810e+10,1.796788e+10,0.60208,0.553886,-2.666224e+10,4.829844e+10

In [163]:
# 40-50
Y = 'avg_r_d_research_dev'
X = ['Acquired stake (%)_40_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_40_50'])
print(F1,pF1)
results.summary

0.0003465090488336024 0.9853328885708168

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_40_50,5.245612e+11,2.817987e+13,0.018615,0.985333,-5.825761e+13,5.930673e+13

**With diff**

In [164]:
# 0-10
Y = 'diff_r_d_research_dev'
X = ['Acquired stake (%)_0_10']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_10'])
print(F1,pF1)
results.summary

0.08623016035492366 0.7720511702957498

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_10,8.758935e+08,2.982783e+09,0.29365,0.772051,-5.346083e+09,7.097870e+09

In [165]:
# 10-20
Y = 'diff_r_d_research_dev'
X = ['Acquired stake (%)_10_20']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_10_20'])
print(F1,pF1)
results.summary

0.004406981543494858 0.9477303683499484

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_10_20,-4.096863e+10,6.171359e+11,-0.066385,0.94773,-1.328291e+12,1.246354e+12

In [166]:
# 20-30
Y = 'diff_r_d_research_dev'
X = ['Acquired stake (%)_20_30']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_20_30'])
print(F1,pF1)
results.summary

0.37333409160337433 0.5480746361168535

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_20_30,-3.790824e+09,6.204185e+09,-0.611011,0.548075,-1.673253e+10,9.150880e+09

In [167]:
# 30-40
Y = 'diff_r_d_research_dev'
X = ['Acquired stake (%)_30_40']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_30_40'])
print(F1,pF1)
results.summary

0.339086835775343 0.566864158519117

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_30_40,8.083273e+09,1.388135e+10,0.582312,0.566864,-2.087272e+10,3.703927e+10

In [168]:
# 40-50
Y = 'diff_r_d_research_dev'
X = ['Acquired stake (%)_40_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_40_50'])
print(F1,pF1)
results.summary

0.0003456347966233329 0.9853514007854699

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_40_50,3.919516e+11,2.108258e+13,0.018591,0.985351,-4.358553e+13,4.436943e+13

In [23]:
list_countries = list(df["countrycode"].unique())
value = 0
for country in list_countries:
    value1 = df[df["countrycode"] == country]["is_reform"].sum()
    if value1 > value :
        value = value1

value

2

In [43]:
list_countries = list(df["countrycode"].unique())
L=[]
for country in list_countries:
    value1 = df[df["countrycode"] == country]["is_reform"].sum()
    L.append(value1)
max(L)

2

In [58]:
#création de colonnes
df["reform1"] = 0
df["reform2"] = 0

In [45]:
df.columns

Index(['countrycode', 'closing_date', 'ebitda',
       'r_d_expenses_operating_revenue', 'research_development_expenses',
       'number_of_employees', 'Deal value\r\nm EUR', 'Acquired stake (%)_0_10',
       'Acquired stake (%)_10_20', 'Acquired stake (%)_20_30',
       'Acquired stake (%)_30_40', 'Acquired stake (%)_40_50',
       'Acquired stake (%)_0_25', 'Acquired stake (%)_25_50',
       'Acquired stake (%)_0_50',
       'Total deal value for Acquired stake (%)0_10',
       'Total deal value for Acquired stake (%)_10_20',
       'Total deal value for Acquired stake (%)_20_30',
       'Total deal value for Acquired stake (%)_30_40',
       'Total deal value for Acquired stake (%)_40_50',
       'Total deal value for Acquired stake (%)_0_25',
       'Total deal value for Acquired stake (%)_25_50',
       'Total deal value for Acquired stake (%)_0_50', 'Final stake (%)_0_10',
       'Final stake (%)_10_20', 'Final stake (%)_20_30',
       'Final stake (%)_30_40', 'Final stake (%)_40_50',
       'Final stake (%)_0_25', 'Final stake (%)_25_50',
       'Score-protecting minority investors', 'Reform', 'is_reform', 'reform1',
       'reform2'],
      dtype='object')

In [59]:
time = 0
for i in range(1,df.shape[0]-1):
    country = df['countrycode'][i]
    country_before = df['countrycode'][i-1]
    if country == country_before :
        if df['is_reform'][i] == 1:
            time +=1
        if time == 1 :
            df['reform1'][i] = 1
        if time == 2 :
            df['reform2'][i] = 1
            df['reform1'][i] = 1

    else :
        time = 0
        if df['is_reform'][i] == 1:
            time +=1
        if time == 1 :
            df['reform1'][i] = 1
        if time == 2 :
            df['reform2'][i] = 1
            df['reform1'][i] = 1

C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/1938429894.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reform1'][i] = 1
C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/1938429894.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reform2'][i] = 1
C:\Users\KP519\AppData\Local\Temp/ipykernel_16188/1938429894.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reform1'][i] = 1

In [60]:
df[df["countrycode"] == "ID"]

,countrycode,closing_date,ebitda,r_d_expenses_operating_revenue,research_development_expenses,number_of_employees,Deal value\r\nm EUR,Acquired stake (%)_0_10,Acquired stake (%)_10_20,Acquired stake (%)_20_30,...,Final stake (%)_20_30,Final stake (%)_30_40,Final stake (%)_40_50,Final stake (%)_0_25,Final stake (%)_25_50,Score-protecting minority investors,Reform,is_reform,reform1,reform2
187,ID,2003,1.210000e+06,-0.234874,0.0,595.0,0.00,0,0,0,...,0,0,0,0,0,NaN,NaN,0,0,0
188,ID,2004,7.169800e+07,-2.113868,0.0,7611.0,0.00,0,0,0,...,0,0,0,0,0,NaN,NaN,0,0,0
189,ID,2005,1.041370e+08,-2.348743,0.0,9227.0,30.39,0,0,1,...,1,0,0,1,0,NaN,NaN,0,0,0
190,ID,2006,1.425710e+08,-2.348743,0.0,10962.0,0.00,1,0,0,...,0,0,1,0,1,56.666667,NaN,0,0,0
191,ID,2007,2.336210e+08,-2.348743,0.0,9722.0,0.00,0,0,0,...,0,0,0,0,0,56.666667,NaN,0,0,0
192,ID,2008,1.462133e+08,-2.818491,0.0,11524.0,0.00,0,0,0,...,0,0,0,0,0,56.666667,Indonesia strengthened investor protections by...,1,1,0
193,ID,2009,1.874233e+08,-2.818491,0.0,9805.0,0.00,0,0,0,...,0,0,0,0,0,56.666667,NaN,0,1,0
194,ID,2010,4.143805e+08,-3.053365,0.0,11617.0,1.38,1,0,0,...,0,0,0,1,0,60.000000,Indonesia strengthened investor protections by...,1,1,1
195,ID,2011,5.597244e+08,-3.992862,0.0,12096.0,0.70,2,1,2,...,2,0,2,2,3,60.000000,NaN,0,1,1
196,ID,2012,7.721229e+08,-3.523114,0.0,33532.0,58.77,2,1,0,...,1,1,0,1,2,60.000000,NaN,0,1,1
197,ID,2013,1.036807e+09,-3.757988,0.0,52515.0,330.03,2,1,0,...,0,0,0,3,0,60.000000,NaN,0,1,1
198,ID,2014,8.993626e+08,-3.523114,0.0,39110.0,130.83,1,0,1,...,0,2,0,0,2,60.000000,NaN,0,1,1
199,ID,2015,8.534671e+08,-3.523114,0.0,38183.0,9.33,1,0,0,...,0,1,0,0,1,60.000000,NaN,0,1,1
200,ID,2016,9.313191e+08,-3.473107,67725.0,42906.0,0.00,0,0,0,...,0,0,0,0,0,64.000000,NaN,0,1,1
201,ID,2017,1.181910e+09,-3.923497,71377.0,46927.0,148.72,4,1,0,...,1,2,3,0,6,64.000000,NaN,0,1,1