In [1]:
import pandas as pd
import econtools.metrics as mt
import econtools
import numpy as np

In [3]:
#On charge les 4 fichiers
df_H_target = pd.read_csv("H_target_final.csv")
df_NH_target = pd.read_csv("NH_target_final.csv")
df_H_acquiror = pd.read_csv("H_acquiror_final.csv")
df_NH_acquiror = pd.read_csv("NH_acquiror_final.csv")

In [5]:
df_H_target[df_H_target["countrycode"] == "AU"]

,countrycode,closing_date,ebitda,r_d_expenses_operating_revenue,research_development_expenses,number_of_employees,Deal value\r\nm EUR,Acquired stake (%)_0_10,Acquired stake (%)_10_20,Acquired stake (%)_20_30,...,Final stake (%)_0_10,Final stake (%)_10_20,Final stake (%)_20_30,Final stake (%)_30_40,Final stake (%)_40_50,Final stake (%)_0_25,Final stake (%)_25_50,Score-protecting minority investors,Reform,is_reform
0,AU,2000,9.570515e+06,0.00,0.000000e+00,66.0,0.00,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,AU,2001,1.774625e+08,7.13,3.183389e+07,2596.0,0.00,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,AU,2002,2.240108e+09,26.82,5.810417e+07,54528.0,189.35,1,1,0,...,1,1,0,0,0,2,0,NaN,NaN,NaN
3,AU,2003,2.149000e+09,179.04,1.139830e+08,62402.0,140.61,6,6,0,...,4,8,0,0,0,12,0,NaN,NaN,NaN
4,AU,2004,3.900685e+09,399.67,1.092425e+08,60358.0,60.40,15,2,0,...,6,8,1,1,0,15,1,NaN,NaN,NaN
5,AU,2005,6.745037e+09,122.58,1.519546e+08,90990.0,238.86,24,3,0,...,12,7,3,1,0,22,1,NaN,NaN,NaN
6,AU,2006,8.032743e+09,124.44,2.290878e+08,88835.0,1090.51,27,6,1,...,10,14,1,0,0,25,0,56.666667,NaN,NaN
7,AU,2007,9.844145e+09,120.51,2.396465e+08,52727.0,810.28,40,5,0,...,21,19,0,1,0,40,1,56.666667,NaN,NaN
8,AU,2008,5.739048e+09,68.09,1.903735e+08,31152.0,335.21,4,4,0,...,3,4,0,0,0,7,0,56.666667,NaN,NaN
9,AU,2009,4.334822e+09,84.07,2.267794e+08,27589.0,329.79,10,3,1,...,9,4,1,0,0,14,0,56.666667,NaN,NaN
10,AU,2010,7.707214e+09,122.35,1.741418e+08,40264.0,412.75,44,3,0,...,25,16,0,0,0,41,0,56.666667,NaN,NaN
11,AU,2011,7.461177e+09,97.39,2.126602e+07,43006.0,164.61,29,0,0,...,13,13,1,1,0,27,1,56.666667,NaN,NaN
12,AU,2012,6.647168e+09,298.53,4.546877e+07,50434.0,580.55,55,3,0,...,31,23,3,1,0,55,3,56.666667,NaN,NaN
13,AU,2013,4.949484e+09,74.24,9.877251e+07,43818.0,730.50,41,4,0,...,29,13,0,0,1,42,1,56.666667,NaN,NaN
14,AU,2014,6.415853e+09,20.23,1.034567e+08,48264.0,447.68,28,1,0,...,22,5,2,0,0,29,0,64.000000,NaN,NaN
15,AU,2015,6.891455e+09,97.00,1.211398e+09,46595.0,1627.97,11,3,0,...,8,5,1,0,0,14,0,64.000000,NaN,NaN
16,AU,2016,7.500676e+09,14.41,1.723257e+08,40301.0,123.80,6,0,0,...,6,0,0,0,0,6,0,64.000000,NaN,NaN
17,AU,2017,7.234683e+09,19.11,9.411809e+06,39982.0,52.40,1,3,0,...,1,3,0,0,0,4,0,64.000000,NaN,NaN
18,AU,2018,7.852204e+09,141.61,1.355051e+07,29770.0,180.36,16,4,0,...,8,6,1,0,0,14,1,64.000000,NaN,NaN
19,AU,2019,6.909115e+09,35.19,4.739706e+06,20566.0,11.53,4,1,1,...,3,2,1,0,0,6,0,64.000000,NaN,NaN
20,AU,2020,4.500684e+09,-9.19,4.031100e+04,9983.0,39.99,7,1,1,...,3,5,1,0,0,8,1,64.000000,NaN,NaN