In [12]:
import pandas as pd
import numpy as np
import econtools.metrics as mt
import econtools

In [13]:
# pour acquisition 0-50, moyenne de r_d_expenses_operating_revenue 
# année en cours + 2 années après. 
# Si pas possible, moyenne sur l'année en cours et l'année suivante, ou valeur de l'anée

df = pd.read_csv("H_target_final.csv")
df.sort_values(by= ['countrycode', 'closing_date'], inplace = True)
df['avg_r_d_expenses_operating_revenue'] = 0
for i in range(df.shape[0]-2) : 
    country = df['countrycode'][i]
    country_N_1 = df['countrycode'][i+1]
    country_N_2 = df['countrycode'][i+2]
    if (country == country_N_1) and (country == country_N_2):
        sum = df['r_d_expenses_operating_revenue'][i] + df['r_d_expenses_operating_revenue'][i+1] +  df['r_d_expenses_operating_revenue'][i+2]
        df['avg_r_d_expenses_operating_revenue'][i] = sum / 3
    if (country == country_N_1) and (country != country_N_2):
        sum = df['r_d_expenses_operating_revenue'][i] + df['r_d_expenses_operating_revenue'][i+1]
        df['avg_r_d_expenses_operating_revenue'][i] = sum / 2
    else : 
        df['avg_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

# pour acquisition 0-50, difference r_d_expenses_operating_revenue un an apres - année en cours
df['diff_r_d_expenses_operating_revenue'] = 0
for i in range(df.shape[0]-1) : 
    country = df['countrycode'][i]
    country_N1 = df['countrycode'][i+1]
    if country == country_N1 :
        df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i+1] - df['r_d_expenses_operating_revenue'][i]
    else : 
        df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

/var/folders/td/010hh4vx7gl3pcc1zz9bfdlh0000gn/T/ipykernel_34501/1857616959.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_expenses_operating_revenue'][i] = sum / 3
/var/folders/td/010hh4vx7gl3pcc1zz9bfdlh0000gn/T/ipykernel_34501/1857616959.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]
/var/folders/td/010hh4vx7gl3pcc1zz9bfdlh0000gn/T/ipykernel_34501/1857616959.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_r_d_expenses_operating_revenue'][i] = sum / 2

In [14]:
# regression 

Y = 'avg_r_d_expenses_operating_revenue'
X = ['Total deal value for Acquired stake (%)_0_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Total deal value for Acquired stake (%)_0_50'])
print(F1,pF1)
results.summary

0.010646614827545246 0.9188458039875909

,coeff,se,t,p>t,CI_low,CI_high
Total deal value for Acquired stake (%)_0_50,-3.290989,31.894857,-0.103182,0.918846,-69.822496,63.240518

In [15]:
# pour acquisition 0-50, difference deal value un an apres - année en cours
df['diff_r_d_expenses_operating_revenue'] = 0
for i in range(df.shape[0]-1) : 
    country = df['countrycode'][i]
    country_N1 = df['countrycode'][i+1]
    if country == country_N1 :
        df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i+1] - df['r_d_expenses_operating_revenue'][i]
    else : 
        df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

/var/folders/td/010hh4vx7gl3pcc1zz9bfdlh0000gn/T/ipykernel_34501/445312472.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i+1] - df['r_d_expenses_operating_revenue'][i]
/var/folders/td/010hh4vx7gl3pcc1zz9bfdlh0000gn/T/ipykernel_34501/445312472.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['diff_r_d_expenses_operating_revenue'][i] = df['r_d_expenses_operating_revenue'][i]

In [16]:
# regression 

Y = 'diff_r_d_expenses_operating_revenue'
X = ['Total deal value for Acquired stake (%)_0_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.ivreg(df, Y,X,Z,W, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Total deal value for Acquired stake (%)_0_50'])
print(F1,pF1)
results.summary

0.010886403627497356 0.9179404306392873

,coeff,se,t,p>t,CI_low,CI_high
Total deal value for Acquired stake (%)_0_50,-2.319534,22.230978,-0.104338,0.91794,-48.692541,44.053473

Avec instrumental variables ç ne marche pas du tout. Essayons OLS

Tout d'abord en utilisant Acquired stake (%)_0_50 en endogenous variable, pour différentes valeurs de y.

In [22]:
# regression 

Y = 'diff_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_0_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.reg(df, Y,X, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_50'])
print(F1,pF1)
results.summary

1.0967690497689884 0.3063464003537517

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_50,1.592174,1.520313,1.047267,0.306346,-1.560762,4.74511

In [20]:
# regression 

Y = 'avg_r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_0_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.reg(df, Y,X, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_50'])
print(F1,pF1)
results.summary

31.70094773139742 1.162193887627172e-05

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_50,13.884469,2.466,5.630359,0.000012,8.770297,18.99864

In [21]:
# regression 

Y = 'r_d_expenses_operating_revenue'
X = ['Acquired stake (%)_0_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'

results = mt.reg(df, Y,X, fe_name = fe_var, cluster=cluster)
F1, pF1 = results.Ftest(['Acquired stake (%)_0_50'])
print(F1,pF1)
results.summary

31.563359547040957 1.1963905452883061e-05

,coeff,se,t,p>t,CI_low,CI_high
Acquired stake (%)_0_50,13.934524,2.480279,5.618128,0.000012,8.79074,19.078307

Puis en utilisant utilisant différents fourchettes d'Acquired stake avec un Y constant égal à avg_r_d_expenses_operating_revenue

In [47]:
# regression   Acquired stake (%)_0_10

Y = 'avg_r_d_expenses_operating_revenue'
X_0_10 = ['Acquired stake (%)_0_10']
X_10_20 = ['Acquired stake (%)_10_20']
X_20_30 = ['Acquired stake (%)_20_30']
X_30_40 = ['Acquired stake (%)_30_40']
X_40_50 = ['Acquired stake (%)_40_50']
X_0_25 = ['Acquired stake (%)_0_25']
X_25_50 = ['Acquired stake (%)_25_50']
X_0_50 = ['Acquired stake (%)_0_50']
Z = ['Score-protecting minority investors']
W = []
fe_var = 'countrycode'
cluster = 'countrycode'
n = "\n"

def regress(df,Y,X,fe_name,cluster, method = 'OLS', Z=None, W=None):
    if method == 'IV':
        results = mt.ivreg(df, Y,X,Z,W, fe_name, cluster=cluster)
    else:
        if W == None:
            results = mt.reg(df, Y,X, fe_name, cluster=cluster)
        else :
            results = mt.reg(df, Y,X,W, fe_name, cluster=cluster)
    F1, pF1 = results.Ftest(X)
    res = f'{method}' + '\n' + 'summary regression with \nY = ' + f'{Y}' + '\n' + 'X=' + f'{X}' + '\n' + 'Z =' + f'{Z}'+'\n' +  'fixed effect =' + f'{fe_var}' + '\n' + f'{results.summary}' + '\n' +  'Fstat =' + f'{F1}'
    return res


regress(df, Y, X_0_10,fe_var, cluster)

"OLS\nsummary regression with \nY = avg_r_d_expenses_operating_revenue\nX=['Acquired stake (%)_0_10']\nZ =None\nfixed effect =countrycode\n                             coeff        se        t       p>t    CI_low  \\\nAcquired stake (%)_0_10  14.697936  2.681895  5.48043  0.000017  9.136027   \n\n                           CI_high  \nAcquired stake (%)_0_10  20.259845  \nFstat =30.035114293759182"

In [43]:
df.columns

Index(['countrycode', 'closing_date', 'ebitda',
       'r_d_expenses_operating_revenue', 'research_development_expenses',
       'number_of_employees', 'Deal value\nm EUR', 'Acquired stake (%)_0_10',
       'Acquired stake (%)_10_20', 'Acquired stake (%)_20_30',
       'Acquired stake (%)_30_40', 'Acquired stake (%)_40_50',
       'Acquired stake (%)_0_25', 'Acquired stake (%)_25_50',
       'Acquired stake (%)_0_50',
       'Total deal value for Acquired stake (%)0_10',
       'Total deal value for Acquired stake (%)_10_20',
       'Total deal value for Acquired stake (%)_20_30',
       'Total deal value for Acquired stake (%)_30_40',
       'Total deal value for Acquired stake (%)_40_50',
       'Total deal value for Acquired stake (%)_0_25',
       'Total deal value for Acquired stake (%)_25_50',
       'Total deal value for Acquired stake (%)_0_50', 'Final stake (%)_0_10',
       'Final stake (%)_10_20', 'Final stake (%)_20_30',
       'Final stake (%)_30_40', 'Final stake (%)_40_50',
       'Final stake (%)_0_25', 'Final stake (%)_25_50',
       'Score-protecting minority investors', 'Reform', 'is_reform',
       'avg_r_d_expenses_operating_revenue',
       'diff_r_d_expenses_operating_revenue'],
      dtype='object')